[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"
rope = "*"
fabric3 = "*"

[packages]
jinja2 = "*"
colorful = "*"

[requires]
python_version = "3.7"
